<section class="card">
  <div class="header">
    <span></span>
    <h1>Crear torneo</h1>
    <span></span>
    <p>Completa los datos para crear un torneo</p>
  </div>
  <div class="formulario">

    <div class="form-group lugar">
      <label>Lugar de Encuentro</label>
      <span></span>
      <input type="text" placeholder="Ingrese el lugar de Encuentro">
    </div>
<div class="premiaciones-list">

  @for (premiacion of premiaciones; track $index) {
    <div class="form-group premiacion">
      <div class="premiacion-header">
        <label>Premiación</label>
        <span></span>
      </div>
      <div class="premiacion-input">
        <input
          type="text"
          [(ngModel)]="premiacion.premiacion"
          placeholder="Ingrese la premiación"
        >
        @if ($index === 0) {
          <button
            type="button"
            class="btn-agregar"
            (click)="agregarpremio()">
            +
          </button>
        }
        @if (premiaciones.length > 1) {
          <button
            type="button"
            class="btn-eliminar"
            (click)="quitarpremiacion($index)">
            −
          </button>
        }
      </div>
    </div>
  }
</div>
    <div class="form-group deporte">
      <label>Tipo de Deporte</label>
      <span></span>
 @for (deporte of deportes; track $index) {
    <select [(ngModel)]="deporte.deporte">
        <option value="">Seleccione un deporte</option>

        @for (opcion of opcionesDeportes; track opcion) {
            <option [value]="opcion">
                {{ opcion }}
            </option>
        }
    </select>
}
    </div>

<div class="form-group divisiones">
    <label>Divisiones</label>
    <span></span>
     @for (divicion of diviciones; track $index) {
    <select [(ngModel)]="divicion.etapa">
        <option value="">Seleccione un division</option>

        @for (opcion of opciondivision; track opcion) {
            <option [value]="opcion">
                {{ opcion }}
            </option>
        }
    </select>
    @if(divicion.etapa==='grupos'){
  <div class="cantidad_grupos">
    <label>cantidad de grupos</label>
      <input type="number" min="2" max="8"  step="2" placeholder="ingrese la cantidad de equipo min 2 max 8 pares">
  </div>
}
}

</div>

<div class="form-group-flayer">
    <label>Imagen del torneo</label>
    <input type="file" accept="image/*">
</div>


<div class="form-group cantidad">
    <label>Cantidad de Equipos</label>
    <span></span>

    <div class="contador">
        <button type="button" (click)="restarcontador()">−</button>
       <input type="number" value="{{ contador }}">
        <button type="button" (click)="sumarcontador()">+</button>
    </div>
</div>

    <div class="form-group objetivo">
      <label>Objetivo</label>
      <span></span>
      <textarea placeholder="Escribe el objetivo"></textarea>
    </div>

    <div class="form-group fechas">

      <label>Fecha de Inicio y Fin</label>

      <div class="input-fechas">
        <input type="date">
        <input type="date">
      </div>

    </div>
  </div>
  <div class="campo-fecha">
  </div>
  <div class="fin-formun">
    <button> 🏆 Crear Torneo</button>
  </div>
</section>