<div class="password-contenedor" *ngIf="!emailVerificado">
    <div class="header">
        <h1>Restablecer Contraseña</h1>
    </div>
    <div class="content">
        <input type="email" placeholder="Correo electrónico" [(ngModel)]="correo" />
        <button type="button" (click)="restablecer()">Verificar email</button>
    </div>
</div>

<app-validador-componente
    *ngIf="emailVerificado && !codigoVerificado"
    (codigoConfirmado)="confirmarCodigo()">
</app-validador-componente>

<div class="password-contenedor" *ngIf="codigoVerificado">
    <div class="header">
        <h1>Recuperar contraseña</h1>
    </div>
    <div class="content">
        <input
            type="password"
            placeholder="Contraseña"
            [(ngModel)]="contrasena"
        />
        <input
            type="password"
            placeholder="Verificación de contraseña"
            [(ngModel)]="verificacionContrasena"
        />
        <button type="button" (click)="nuevaContrasena()" >Cambiar contraseña</button>
    </div>
    
    
</div>